
# liste des var liés à la base de donnée PostgreSQL

POSTGRES_DB=synclearn
POSTGRES_USER=synclearn
POSTGRES_PASSWORD=synclearn_dev_password

DATABASE_URL=postgresql+psycopg://synclearn:synclearn_dev_password@db:5432/synclearn



# MinIO- la liste des vars liés à Minio

MINIO_ROOT_USER=synclearn_minio
MINIO_ROOT_PASSWORD=synclearn_minio_dev_password

MINIO_BUCKET=synclearn


# API - la list des vars lies a l'api

API_HOST=0.0.0.0
API_PORT=8000

CORS_ORIGINS=http://localhost:5173


VITE_API_URL=http://localhost:8000/api/v1